* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .filter-search {
    display: flex;
    align-items: center;
  }
  
  .filters,
  .search {
    display: inline-block;
    margin-right: 20px;
  }
  
  .filters select,
  .search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    /* margin-left: 100px; */
    width: 150px;
  }
  
  .todo {
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 120px 20px 20px;
  }
  
  .todo-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .todo-container input[type="text"],
  .todo-container select,
  .todo-container input[type="date"],
  .todo-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
  }
  
  .todo-container button {
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .todo-container button:hover {
    background-color: #2980b9;
  }
  
  .task-grid {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task-header h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .task-actions button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .task-actions button i {
    font-size: 18px;
  }
  
  .task-card:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-card.completed {
    background-color: #ecf0f1;
    text-decoration: line-through;
    color: #bdc3c7;
  }